<div class="col-lg-4">
    <h2><a title="<%= strip_tags(feed.description.truncate(150)) %>"
           target="_blank" href="<%= feed.url %>"><%= feed.title %></a></h2>
    <%= link_to "Refresh", refresh_button_path(feed.id), remote: true %>
  <div class="scroll_feed">
    <div class="list-group" id="items_container">
      <%= render feed.items.order(pub_date: :desc) %>
    </div>
  </div>
</div>
